body {
    background: url("https://talbotspy.org/files/2017/11/Screen-Shot-2017-11-16-at-7.27.35-AM.jpg");
    background-size: 120%; 
   
}
.capAmerica {
 width: 300px;   
 position: absolute;
 left: 400px;
 top: 300px;
}
h1 {
 text-align: center;   
 color: white;
}
.spiderboii {
    transform: rotate(180deg);
    width: 200px;
    position: absolute;
    top: 0px;
    left: 1000px;
}
p {
 color: white;   
 font-size: 30px;
}